<?xml version="1.0" encoding="utf-8"?>
<root>
  <weixin>
    <url text="http://localhost:4561/Default.aspx" />
    <Token text="yourtoken" />
    <Appid text="wx8b234234242aa5c0" />
    <Appsecret text="8d234234234f461b4" />
    <Acce text="CPVlbieTx234234FjsEnDiTH54FPJb22323ppbUZHbQ" out="2014-05-30 16:37:15" />
  </weixin>
</root>